<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Sales Spot Tasks</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1>Add a task</h1>
		<div>
			<form th:object="${task}" th:action="@{/savetask}" action="#"
				method="post">
				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">Task
						information</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="name"
							th:field="*{name}" />
					</div>
					<div style="clear: both; display: block; height: 10px;"></div>
					<input type="submit" value="Save" class="btn btn-success"></input>
					<a href="/saleshome" class="btn btn-secondary">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>