<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Books Gabrielle Baker</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1>Edit a book</h1>
		<div>
			<form th:object="${book}" th:action="@{/savebook}" action="#"
				method="post">
				<div class="form-group row">
					<label for="id" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="id" th:field="*{id}"
							readonly />
					</div>
					<label for="author" class="col-sm-2 col-form-label">Author</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="author"
							th:field="*{author}" />
					</div>
					<label for="title" class="col-sm-2 col-form-label">Title</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="title"
							th:field="*{title}" />
					</div>
					<label for="year" class="col-sm-2 col-form-label">Year</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							th:field="*{publicationYear}" />
					</div>
					<label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{isbn}" />
					</div>
					<label for="price" class="col-sm-2 col-form-label">Price</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{price}" />
					</div>

					<div style="clear: both; display: block; height: 10px;"></div>
					<label for="catlist" class="col-sm-2 col-form-label">Category</label>
					<div class="col-sm-10">
						<select id="catlist" th:field="*{category}" class="form-control">
							<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
						</select>
					</div>
					<div style="clear: both; display: block; height: 10px;"></div>
					<input type="submit" value="Save" class="btn btn-success"></input>
					<a href="/booklist" class="btn btn-secondary">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>