<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Sales Spot Home</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js">
	</script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Sales Spot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-bs-toggle="dropdown">Orders</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="/bestel">Order List</a> <a
							class="dropdown-item" href="/newBestel">New Order</a>
					</div>
				</li>
				<li class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-bs-toggle="dropdown">Customers</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="/customerlist">Customer List</a> <a
							class="dropdown-item" href="/newcustomer">New Customer</a>
					</div>
				</li>
				<li sec:authorize="hasAuthority('ADMIN')" class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-bs-toggle="dropdown">Products</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="/productList">Product Catalog</a> <a
							class="dropdown-item" href="/newproduct">New Product</a>
					</div>
				</li>
				<li sec:authorize="hasAuthority('USER')" class="nav-item active">
				<a class="nav-link" href="/productList">Products
						<span class="sr-only"></span>
				</a></li>
				<li sec:authorize="hasAuthority('ADMIN')" class="nav-item active">
				<a class="nav-link" href="/signup">New User
						<span class="sr-only"></span>
				</a></li>
			</ul>

			<form class="form-inline my-2 my-lg-0" th:action="@{/logout}"
				method="post">
				<button class="btn btn-primary my-2 my-sm-0" type="submit">Sign-out</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<br>
		<h1>
			Welcome <span sec:authentication="name"></span>
		</h1>
		<div style="background-color:#c7ecfc; padding:1rem;max-width:20%;border-radius: 25px;text-align:center">
		
		<i class="bi bi-calendar4-event" style="font-size: 2rem; color: cornflowerblue;"></i>
		<p>Today:</p>
		<p id="date"  />
		</div>
		<hr>
		<div >
		<h2>Task Board</h2>
		<table id="tble" class="table table-hover table-sm"   >
			<tbody>
				<tr class="thead-light">
					<th >Task</th>
					<th >Priority</th>
					<th colspan="2">Actions</th>
				</tr>
				<tr th:each="task: ${tasks}">
					<td th:text=${task.name}></td>
					<td th:text=${task.priority.name}></td>
					<td><a th:href="@{/edittask/{id}(id=${task.id})}"
						class="btn btn-primary "><i class="bi bi-pencil-fill"></i></a></td>
					<td><a th:href="@{/delete/{id}(id=${task.id})}"
						class="btn btn-danger "><i class="bi bi-trash-fill"></i></a></td>
					

				</tr>
			</tbody>
		</table>
		<a href="/addTask" class="btn btn-success">Add Task</a>
		</div>
		<hr>
	
	</div>

	<script src="datetime.js"></script>

</body>
</html>