<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Sales Spot n</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1>New Order</h1>
		<div>
			<form th:object="${order}" th:action="@{/saveorder}" action="#"
				method="post">
				<div class="form-group row">

					<label for="customer" class="col-sm-2 col-form-label">Customer</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="customer"
							th:field="*{duedate}" /> <select id="customer"
							th:field="*{customer.name}" class="form-control">
							<option value="MustijaMirri">MustijaMirri</option>
							<option value="Petenkoiratarvike">Petenkoiratarvike</option>
							<option value="Prisma">Prisma</option>
							<option value="Amazon">Amazon</option>
							<option value="Kmarket">Kmarket</option>
							<option value="OmaElainKlinikka">OmaElainKlinikka</option>
						</select>
					</div>

					<label for="duedate" class="col-sm-2 col-form-label">Due
						Date</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="duedate"
							th:field="*{duedate}" />
					</div>

					<label for="title" class="col-sm-2 col-form-label">Products</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="title"
							th:field="*{title}" /> <select id="product"
							th:field="*{product.name}" class="form-control">
							<option value="Cacao Beans">Cacao Beans</option>
							<option value="Caramel">Caramel</option>
							<option value="Refined Sugar">Refined Sugar</option>
							<option value="Refined Coco">Refined Coco</option>
							<option value="Sugar Cane">Sugar Cane</option>
							<option value="Freeze Dried Strawberries">Freeze Dried
								Strawberries</option>
						</select>
					</div>

					<label for="quanity" class="col-sm-2 col-form-label">Quantity</label>
					<div class="col-sm-10">
				<!--  	<form id='myform' method='POST' class='quantity' action='#'>-->
						<input type='button' value='-' class='qtyminus minus'
							field='quantity' /> <input type='text' name='quantity' value='0'
							class='qty' /> <input type='button' value='+'
							class='qtyplus plus' field='quantity' />
					

						<input type='button' value='-' class='qtyminus minus'
							field='quantity' /> <input type='text' name='quantity' value='0'
							class='qty' /> <input type='button' value='+'
							class='qtyplus plus' field='quantity' />
					
						<input type='button' value='-' class='qtyminus minus'
							field='quantity' /> <input type='text' name='quantity' value='0'
							class='qty' /> <input type='button' value='+'
							class='qtyplus plus' field='quantity' />
				
				</div>
				
					<div style="clear: both; display: block; height: 10px;"></div>
					<input type="submit" value="Save" class="btn btn-success"></input>
					<a href="/booklist" class="btn btn-secondary">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>