<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Sales Spot Product List</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Sales Spot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link" href="/home">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-bs-toggle="dropdown">Orders</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="/bestel">Order List</a> <a
							class="dropdown-item" href="/newBestel">New Order</a>
					</div>
				</li>
				<li class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-bs-toggle="dropdown">Customers</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="/customerlist">Customer List</a> <a
							class="dropdown-item" href="/newcustomer">New Customer</a>
					</div>
				</li>
				<li sec:authorize="hasAuthority('ADMIN')" class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-bs-toggle="dropdown">Products</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Product Catalog</a> <a
							class="dropdown-item" href="/newproduct">New Product</a>
					</div>
				</li>
				<li sec:authorize="hasAuthority('USER')"class="nav-item active">
				<a class="nav-link" href="#">Products
						<span class="sr-only"></span>
				</a></li>
			</ul>

			<form class="form-inline my-2 my-lg-0" th:action="@{/logout}"
				method="post">
				<button class="btn btn-primary my-2 my-sm-0" type="submit">Sign-out</button>
			</form>
		</div>
	</nav>
	<div class="container">

		<hr>
		<h1>Product Catalog</h1>

		<table class="table table-striped table-hover">
			<tbody>
				<tr class="thead-light">
					<th>Product Name</th>
					<th>Description</th>
					<th>Price</th>
					<th sec:authorize="hasAuthority('ADMIN')">Edit</th>
					<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
					
				</tr>
				<tr th:each="product: ${products}">
					
					<td th:text=${product.name}></td>
					<td th:text=${product.description}></td>
					<td th:text=${product.price}></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editproduct/{id}(id=${product.productId})}"
						class="btn btn-primary">Edit</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteproduct/{id}(id=${product.productId})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
			<a sec:authorize="hasAuthority('ADMIN')" href="/newproduct" class="btn btn-success">New Product</a>
	</div>

</body>
</html>